    *{
        padding: 0;
        margin: 0;
        

    }
    body{
        display: flex   ;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    #employes{
        background-color: rgb(255, 255, 255);
        width: 30%;
        height: 100vh;
        display: flex;
        flex-flow: column;
        gap: 2rem;
        padding: 1rem;
    }

    
    #employes h1{
        color: orangered;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #employes h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       
    }
    #AjouterEmploye{
        padding: 10px; 
        border-radius: 2rem;   
        border: none;   
        background-color: rgb(4, 199, 4); 
        font-weight: 700;
        color: white;
        box-shadow: 0 0 15px orangered;


       }
       #employes button:hover{
        cursor: pointer;
        box-shadow: 0 0 50px orangered;
        transition: 1s;
       }
        
    #employes input{
        padding: 10px; 
        border-radius: 2rem;        
    }
    #salles{
        width: 100%;
        height: 100vh;
        background-color: beige;
        padding: 1rem;
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: rem;

    }
     .salles{
        background:url('./assets/1.png');
        background-size:100% 100%;
        background-repeat: no-repeat; 
        background-position: center;  
        width: 84%;
        height: 70vh;
        display: grid;
        grid-template-columns: 0.9fr 0.9fr 0.7fr 0.7fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: rem;
        margin: 1rem;
       
            
        
     }
     .room1{
       
        grid-column: 1/2;
        grid-row: 1/4;
        width:90% ;
        height:80% ;
      
     }
     .room2{
        grid-column: 2/3;
        grid-row: 1/4;
         width:90% ;
        height:80% ;
         
     }
     .room3{
        grid-column: 3/4;
        grid-row: 1/4; 
         width:90% ;
        height:80% ;
     }
     .room4{
        grid-column: 4/5;
        grid-row: 1/4;
         width:90% ;
        height:80% ;
         
     }
     .room5{
        grid-column: 1/2;
        grid-row: 4/7;
         width:90% ;
        height:80% ;
         
     }
     .room6{
        grid-column: 4/5;
        grid-row: 4/7;
        width:90% ;
        height:80% ; 
         
     }

     .room{
        width: 100%;
        height: 70%;
        border-radius: 1rem;

     }
   








     #salles h1 {
        background-color: white;
        width: 90%;
        padding: 1rem;
        border-radius: 2rem;

        
     }
     
     #rooms{
        padding: 0.7rem 0.2rem;
        border-radius: 1rem;
        display: flex;
        justify-items: center;
        flex-flow: column;
        gap: 1rem;
        position:relative
        
        
     }
     .titele{
        display: flex;
        gap: 0.2rem;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        border-radius: 2rem;
        padding: 0.3rem;
        align-items: center;
     }
     #titele2{
        
        animation: glow 1s infinite alternate;

     }

        @keyframes glow {
    from {
        box-shadow: 0 0 50px #fa2836;
        border: 1.5px solid #f8636d;
    }
    to {
        box-shadow: 0 0 15px #fb2e3c;
        border: 1.5px solid #fc5a65;
    }
}
     .titele h2{
       color: rgb(9, 9, 9);
       font-size: medium;
      
       
     }

     .titele button{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: none;
        color: white;
        font-weight: 700;
        background-color: rgb(4, 199, 4);
        
        
     }


     .formAjout{
    background-color: beige;
    width: 25rem;
    max-height: 90vh; 
    padding: 1rem;
    display: none;
    flex-flow: column;
    gap: 1rem;
    border-radius: 0.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    margin-top: 2rem;
    
    overflow-y: auto; 

    box-shadow: 0 0 200px rgb(12, 12, 12);
}
     .formAjout div{
        display: flex;
        flex-flow: column;
     }

     .formAjout input{
        height: 1.8rem;
        border-radius: 0.5rem;
        border: 1px solid green;
     }
     .formAjout select{
        height: 1.8rem;
        border-radius: 0.5rem;
        border: 1px solid green;     }
     .formAjout button{
        padding: 10px; 
        border-radius: 2rem;   
        border: none;   
        background-color: rgb(4, 199, 4); 
        font-weight: 700;
        color: white;
     }
     #btnA{
        padding: 10px; 
        border-radius: 2rem;   
        border: 1px solid green;   
        background-color: rgb(255, 255, 255); 
        font-weight: 700;
        color: rgb(0, 0, 0);
        
     }
     #btns{
        
        gap: 1rem;
     }
     #experiences{
        gap: 1rem;
        background-color: white;
        padding: 0.5rem;
        border-radius: 0.5rem;
     }
    #Experince {
        background-color: white;
        margin: 1rem;
        padding: 0.3rem;
        border-radius: 0.4rem;

    }

    #closeCard{
        width: 2rem;
        height: 2rem;
        border-radius: 40%;
        border: none;
        color: rgb(249, 7, 7);
        font-weight: 700;
        
        margin-top: 1rem;

    }
    #deletPersonne{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: none;
        color: white;
        font-weight: 700;
        background-color: rgb(248, 5, 5);
      
    }

    .logo{
    animation: logo 1s infinite; 
   
}
    @keyframes logo {
    0%,100%{ transform: translateY(0); }
    50%{ transform: translateY(-15px); }
}


#toutPreso{
    display: flex;
   gap: 0.4rem;
   flex-flow: column;
}
#selectAdd {
    position: absolute;
    width:90%;
    height: 5vh;
    background-color: rgb(255, 255, 255);
    display: none;
    padding: 5px;
    gap: 5px;
    border-radius: 0.3rem;
}
#addSelect{
    width: 70%;
    border-radius: 0.5rem;
}
#AnnulerSelect{
    padding: 10px; 
        border-radius: 2rem;   
        border: 1px solid green;   
        background-color: rgb(255, 255, 255); 
        font-weight: 700;
        color: rgb(0, 0, 0);
}

.deletFromRoom{
    background-color: rgb(255, 0, 0);
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    
}
.per{
    width: 40%;
    height: 2rem;
}
.per h3 {
    font-size: small;
}
.per p {
   font-size: x-small;
}
.person img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.divPersonne{
    display: flex;
    gap: 10px;
}
.titlePersonne{
    display: flex;
    flex-flow: column;
    justify-content: center;
}



@media (min-width:1024px) and (max-width:1280px) {
    

}
@media(min-width:768px) and (max-width:1023px){
    body{
        flex-flow: column;
    }
 #employes{
        width: 90%;
        height: 10vh;
        flex-flow: row;
        gap: 1rem;
        align-items: center;
    }
    #AjouterEmploye{
        padding: 10px; 
        border-radius: 50%;   
        border: none;   
        width: 4rem;
        height: 4rem;
        font-size:xx-small


       }
        #employes input{
        padding: 10px; 
        border-radius: 50%; 
        width: 4rem;
        height: 4rem;       
    }
    #toutPreso{
   gap: 0.4rem;
   flex-flow: row;
   overflow:scroll;
}

}
@media (max-width:767px) {
    body{
        flex-flow: column;
    }
 #employes{
        width: 90%;
        height: 10vh;
        flex-flow: row;
        gap: 1rem;
        align-items: center;
    }
    #AjouterEmploye{
        padding: 10px; 
        border-radius: 50%;   
        border: none;   
        width: 4rem;
        height: 4rem;
        font-size:xx-small


       }
        #employes input{
        padding: 10px; 
        border-radius: 50%; 
        width: 4rem;
        height: 4rem;       
    }
    #toutPreso{
   gap: 0.4rem;
   flex-flow: row;
   overflow:scroll;
}
 #salles{
        width: 100%;
        height: 100vh;
        background-color: beige;
        padding: 1rem;
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: rem;

    }
     .salles{
        background:url(./assets/4tnuSf7FRcSewVNiOTU5UA.webp);
        background-size:100% 100%;
        background-repeat: no-repeat; 
        background-position: center;  
        width: 90%;
        height: 60vh;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        gap: rem;
        margin: 1rem;
       
            
        
     }
     .room1{
       
        grid-column: 3/5;
        grid-row: 1/2;
       
      
     }
     .room2{
        grid-column: 3/5;
        grid-row: 2/3;
         
         
     }
     .room3{
        grid-column: 3/5;
        grid-row: 3/4; 
        
     }
     .room4{
        grid-column: 3/5;
        grid-row: 4/5;
         width:90% ;
        height:80% ;
         
     }
     .room5{
        grid-column: 1/3;
        grid-row: 1/2;
        
         
     }
     .room6{
        grid-column: 1/3;
        grid-row: 4/5;
        width:80% ;
        height:80% ; 
         
     }

     .room{
        width: 100%;
        height: 70%;
        border-radius: 1rem;

     }

    

}






    
   
 
